# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
config.json

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage
coverage/
.nyc_output/

# Build outputs
dist/
build/

# IDE configurations
.vscode/
.idea/
*.swp

# Environment files
.env
.env.*